<head>
    <meta charset="utf-8">
    <title>Zentrale Formate</title>
    <style>
      p { color:rgb(255, 157, 0); font-size: 2em; }
    </style>
</head>
<body>

<select name="cars" id="cars">
    <option value="bruteforce">Brute Force</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
</select>

<input type="text" id="pw" value="">
<button onclick="crack()">CRACK IT!</button>

<p id="tryNr"></p>
<p id="answer"></p>

<script>

function crack() {
   var type = document.getElementById("cars").value;

   switch (type) {
  case "bruteforce":
    bruteforce();
    break;
  case "Apples":
    console.log("Apples are $0.32 a pound.");
    break;
  case "Bananas":
    console.log("Bananas are $0.48 a pound.");
    break;
  case "Cherries":
    console.log("Cherries are $3.00 a pound.");
    break;
  case "Mangoes":
  case "Papayas":
    console.log("Mangoes and papayas are $2.79 a pound.");
    break;
  default:
    console.log("Sorry, we are out of " + expr + ".");
}
}

function bruteforce(){
  var tryNr = document.getElementById("tryNr");
  var answer = document.getElementById("answer");
  var counter = 0;
  var pw = document.getElementById("pw").value;
  var done = false;

  myInterval = setInterval(function() {
    tryNr.innerHTML = ("Try Nr. " + counter++);
    if(done){clearInterval(myInterval);}
    
    if(counter == pw){
      answer.innerHTML = ("Your Password is: " + counter);
      done = true;
    }
    });
}

</script>

</body>
